.background {
  background: #FC6586;
}

* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.bg-donate {
  padding: .4em 1em;
  background: #FC6586;
  border-radius: .2em;
}

.button-wrapper {
  padding-top: 2em;
  text-align: center;
}

.load-more {
  outline: none;
  border: none;
  padding: .65rem 3rem;
  color: #FDFDFD;
  background: #FC6586;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: .2em;
}

.load-more:hover {
  background: none;
  border: 2px solid #FC6586;
  color: #dadada;
}

.wrapper {
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper-activities {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.wrapper-blog {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.button-view-more {
  border: none;
  outline: none;
  color: #fff;
  font-size: .9em;
  background: #FC6586;
  padding: .5em 2em;
  text-decoration: none;
  letter-spacing: 1px;
}

.button-view-more:hover {
  background: none;
  border: 2px solid #FC6586;
  color: #dadada;
}

.button {
  outline: none;
  border: none;
  padding: .65rem 3rem;
  color: #FDFDFD;
  background: #FC6586;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: .2em;
}

#top-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 5%;
}

#top-header .container {
  padding: 1.9rem 5%;
}

#top-header .logo {
  float: left;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #22292e;
}

#top-header #main-navigation {
  float: right;
}

#top-header #main-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#top-header #main-navigation ul li {
  display: inline;
  margin-left: 2rem;
}

#top-header #main-navigation ul li a {
  text-decoration: none;
  color: #22292e;
}

#banner-two {
  background: url(../images/banner_two.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 6rem 0 9rem 0;
}

#banner-two .title {
  font-size: 2.9rem;
  color: #fff;
  font-weight: 700;
  margin: 0 0 1.9rem 0;
  letter-spacing: 4px;
}

#activities {
  padding: 7rem 0;
  background: #f6f6f6 !important;
}

#activities .row {
  width: 50%;
  float: left;
  display: table;
  padding: 4rem 4% 6rem 4%;
}

#activities .row-vertical {
  display: table-cell;
  vertical-align: middle;
}

#activities .row-vertical .title-activities {
  font-size: 1.6rem;
  color: #22292e;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
}

#activities .row-vertical .description {
  color: #dadada;
  width: 450;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  margin: .7rem 0 1.8rem 0;
}

#activities .row-image {
  float: left;
  width: 50%;
  padding: 1rem 0 6rem 6%;
}

#activities .row-image .image-size {
  width: 400px;
}

#activities .row-image .image-size img {
  width: 100%;
  max-width: 100%;
}

#blogs {
  background: #fff;
  padding: 4rem 0 6rem 0;
}

#blogs ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#blogs ul li {
  float: left;
  width: 45%;
  margin: 4em 0 5em 3em;
}

#blogs ul li a {
  text-decoration: none;
}

#blogs .title-blog {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;
  color: #22292e;
}

#blogs .blog-post {
  font-size: 1rem;
  margin: .6rem 0 1em 0;
  line-height: 1.6;
  color: #dadada;
}

#blogs .date {
  float: left;
  font-size: .9rem;
  color: #22292e;
  margin: 0;
}

#blogs .read-more-blog {
  float: right;
  font-size: .9rem;
  color: #22292e;
  margin: 0 3rem 0 0;
  text-decoration: underline;
}

#blogs .read-more-blog:hover {
  color: #FC6586;
}

#contact {
  padding: 4rem 0;
  background: #66F8EA;
}

#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#contact ul li {
  float: left;
  width: 23%;
  margin: 0;
}

#contact ul .social_link {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#contact ul .social_link i {
  color: #FC6586;
  display: inline;
}

#contact ul .social_link i:hover {
  color: #fff;
}

#contact ul .social_link a {
  text-decoration: none;
}

#contact ul h2 {
  color: #fdfdfd;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 2px;
  text-align: center;
}

#contact ul p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.65;
}

#news-letter {
  text-align: center;
  padding: 6rem 0;
  background: #fff;
}

#news-letter .title {
  font-weight: 700;
  font-size: 1.9rem;
  color: #22292e;
  letter-spacing: 4px;
  margin: 0;
}

#news-letter .ass {
  font-size: 1.3rem;
  color: #4b5154;
  margin: .5rem 0 2rem 0;
}

#news-letter input[type="text"] {
  display: inline;
  width: 15rem;
  height: 2.9rem;
  border: 2px solid #e9e9e9;
  padding: .5rem 2%;
  margin: 0 .5rem 2.5rem .5rem;
}

#main-footer {
  background: #fafafa;
  padding: 4rem 0;
  border-top: 2px solid #e9e9e9;
}

#main-footer .coming-soon {
  text-align: center;
  color: #22292e;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  margin: 0;
}
